/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

_________ {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - need to call h1
   #2 - call color in unique
   #3 -  call #unique
   #4 -call body
   #5 - align text in body

   e.g. - .pika               */